<main>

<div class= "container">
  <div class="row">
<h1 class="px-3 mx-auto"><i class="fas fa-book-medical"></i><strong>ドラッグストア売り場作りメモリーズ</strong></h1>
<p>作成した売り場の写真を投稿することで　誰が　いつ　どんな　売り場を作ったのかを記録　閲覧　交流できるサイトです。</p>
<p> 自分がいつ、どんな売り場を作成したのかを記録することにより、自分の成長を実感することができたり、<br>
過去と現在の市場ニーズ把握、過去の投稿から逆算してこれからやるべき仕事を認識することにお役立てください。</p>
</div>
</div>