<main>

<div class= "container">
  <div class="row">
<h1 class="px-3 mx-auto">
  <i class="fas fa-child"></i><strong>ハピネス</strong>
</h1>
<div class= "caution">
  <br>
<p>日々のちょっとした嬉しかったことを写真と共に投稿するサイトです。<br>（写真はなくても投稿できます。)<br>
<br>
複数画像をアップロードする場合は「ファイル選択」を選択後、<br>
shift + クリック　または　ctrl + クリックで画像を選択し、アップロードしてください。</p>
<p> <br>ポジティブな投稿のみ投稿しましょう！</p>
<br>
<p>※ネガティブな投稿コメントをするアカウントは見つけ次第退会処理を行います。<br>
お問い合わせページにて、複数ユーザーから問題のあるユーザーであるとご連絡頂きましたら運営者が退会処理を行うことがございます。<br>
また、退会理由等のお問い合わせにつきましては一切お応えすることはできません。
</p>
</div>
</div>
</div>
</main>