// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile_image >　a > img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.profile_image_posts > a > img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.image-box img > a > {
  max-width: 400px;
}

.size-box {
  font-size: 14px;
}