// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile_image > img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.image-box img {
  max-width: 400px;
}

#post_explanation{
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}